div.panelmenu {
	float: left;
	clear: both;
	margin-bottom: 5px;
	display: block;
}

div.panelmenu .icon, div.panelmenu .item {
	padding: 0px;
	width: 26px;
	height: 26px;
	margin-top: -1px;
} 

div.panelmenu .left {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAXBAMAAAAfGrnUAAAAHlBMVEUAAABwcHCCgoKDg4OTk5OUlJSVlZWioqKjo6OwsLDZcF1UAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeARALARZoA8IhAAAAJmlUWHRDb21tZW50AAAAAABDcmVhdGVkIHdpdGggR0lNUCBvbiBhIE1hY5XkX1sAAABJSURBVAjXY2BABexwlqMClMEiKARlBQoKQgRZBQUFJSGqgKwGmJAETBW6UCJMiBPIEGZA1Qm0AKaOGEFJuKACuvsQbkbyBwgAAKLeCkutNxodAAAAAElFTkSuQmCC);
}
div.panelmenu .right {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAXCAMAAADa6lTVAAAAP1BMVEUAAABwcHBxcXFycnJzc3N5eXl7e3uBgYG0tLS1tbW2tra5ubm6urq7u7vFxcXGxsbHx8fKysrLy8vMzMza2tq8tJKjAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeARALASXX06M3AAAAJmlUWHRDb21tZW50AAAAAABDcmVhdGVkIHdpdGggR0lNUCBvbiBhIE1hY5XkX1sAAABRSURBVBjTndBJCoAwEETR6jjFIcakvf9ZRWwFC3H6y7cpKOC6LhC0IoHhTF6EqNlEhr/Uf6RkUuwwVwbpEfJrQG2gx/DoCIDoCFYqlW6dFDctD/AC27aqSxsAAAAASUVORK5CYII=);
}
div.panelmenu .add {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 70%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXBAMAAAASBMmTAAAAD1BMVEX7BwBwcHC7u7vT09PU1NRzZu6VAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeARALAQCc13dwAAAAJmlUWHRDb21tZW50AAAAAABDcmVhdGVkIHdpdGggR0lNUCBvbiBhIE1hY5XkX1sAAAAuSURBVBjTY2BAB8zGxggOo6CgA5U4xsbGhoKCysbGBkCOIAyIkMmhrtvQOVgBAH7lCncHaHe5AAAAAElFTkSuQmCC);
}
div.panelmenu .settings {
	margin-left: 5px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 70%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAMAAADX9CSSAAAAb1BMVEVyZW5wcHBycnJzc3N1dXV3d3d4eHh5eXl6enqGhoaHh4eIiIiKioqMjIyNjY2Ojo6Pj4+QkJCoqKipqamrq6usrKyurq6vr6+xsbG+vr6/v7/AwMDBwcHCwsLExMTPz8/Q0NDR0dHS0tLX19fa2trv+7yaAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeARALATXKZLNTAAAAJmlUWHRDb21tZW50AAAAAABDcmVhdGVkIHdpdGggR0lNUCBvbiBhIE1hY5XkX1sAAAC2SURBVCjPjZKLDoIwDEXpRHkoOF8oMJhs/P832hYYjpjMJaS3h+3SlkVRcNVV/ZMLEFv0xkcDgMY4rPgGpe0y5JmyZ7gu2IC/zPJCelg6H8t5WqQcreMdZrFCoWJUasE6d5mij2uWrWCTeQ9bCWrwyabFzAvOKjq6I5XMPOH9DevhiHqSDarcddxTPeRZUz3dpv796bCpv/T6LYPzeYAce2ou78cL3NdBm6/5mz/+1zSQVxu+BB/dLwhDTLkvgwAAAABJRU5ErkJggg==);
}

div.panelmenu .outer {
	margin: 0px 5px;
	overflow: hidden;
	padding-top: 1px;
	width: 467px;
	height: 28px;
	position: relative;
	float: left;
	-webkit-backface-visibility: hidden;		
	-webkit-transform: translateX(0px);
}

div.panelmenu .text {
	padding: 0px 5px;
	margin: -1px 5px 5px 0px;
	float: left;
	width: auto;
	height: 26px;
	font-size: 14px;
	max-width: 200px;
	text-overflow: ellipsis;
}

div.panelmenu .active {
	background-color: #FFFEED;
}

div.panelmenu .center {
	text-align: center;
}

div.panelmenu .add {
	margin-right: 0px;
}
div.panelmenu .add div {
	font-size: 150%;
	font-weight: bold;
	margin-top: -2px;
}

div.panelmenu .icon i {
	font-size: 16px;
}

div.panelmenu .ctrl {
	float: left;
	padding-top: 1px;
}

div.panelmenu .ctrl i {
	padding-top: 3px;
}

div.panelmenu .inner {
	height: 29px;
	-webkit-transform: translateX(0px);
}

div.panelmenu .smooth {
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;			
}