div.panelmenu {
	float: left;
	clear: both;
	margin-bottom: 5px;
	display: block;
}

div.panelmenu .icon, div.panelmenu .item {
	padding: 0px;
	width: 25px;
	height: 25px;
	margin-top: -1px;
} 

div.panelmenu .outer {
	margin: 0px 5px;
	overflow: hidden;
	padding-top: 1px;
	width: 520px;
	height: 25px;
	position: relative;
	float: left;
	-webkit-backface-visibility: hidden;		
	-webkit-transform: translateX(0px);
}

div.panelmenu .text {
	padding: 0px 5px;
	margin: -1px 5px 5px 0px;
	float: left;
	width: auto;
	height: 25px;
	font-size: 14px;
	max-width: 200px;
	text-overflow: ellipsis;
}

div.panelmenu .active {
	background-color: #FFFEED;
}

div.panelmenu .center {
	text-align: center;
}

div.panelmenu .add {
	margin-right: 0px;
}
div.panelmenu .add div {
	font-size: 150%;
	font-weight: bold;
	margin-top: -2px;
}

div.panelmenu .icon i {
	font-size: 16px;
}

div.panelmenu .ctrl {
	float: left;
	padding-top: 1px;
}

div.panelmenu .ctrl i {
	padding-top: 3px;
}

div.panelmenu .inner {
	height: 28px;
	-webkit-transform: translateX(0px);
}

div.panelmenu .smooth {
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;			
}