div.mainmenu div.mainmenu_container {
	position: relative;
	display: inline-block;
	max-width: 580px;
	min-width: 580px;
	height: 420px;
	background-color: #fefefe;
	padding: 10px 10px 0px 10px;
	overflow: hidden;
    top: -5px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0px 1px 5px 1px rgba(150, 150, 150, 0.33);
	-moz-box-shadow:    0px 1px 5px 1px rgba(150, 150, 150, 0.33);
	box-shadow:         0px 1px 5px 1px rgba(150, 150, 150, 0.33);
}

div.mainmenu div.mainmenu_container .handle {
	bottom: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
} 

div.mainmenu div.mainmenu_container .handle .heading {
	position: absolute;
	font-size: 90%;
	text-align: left;
	left: 10px;
	top: 4px;
}

div.mainmenu div.mainmenu_container .handle button {
	position: absolute;
	font-size: 70%;
	right: 3px;
	top: -2px;
	display: none;
	ine-height: 1em !important;
}