body {
	background-color: #eee;			
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
}

input, button {
	border: solid 1px #c0c0c0;
	border-width: 1px !important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: whiteSmoke;
	color: #707070;
	float: left;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;  	
}

.wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

button.left {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAXBAMAAAAfGrnUAAAAHlBMVEUAAABwcHCCgoKDg4OTk5OUlJSVlZWioqKjo6OwsLDZcF1UAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeARALARZoA8IhAAAAJmlUWHRDb21tZW50AAAAAABDcmVhdGVkIHdpdGggR0lNUCBvbiBhIE1hY5XkX1sAAABJSURBVAjXY2BABexwlqMClMEiKARlBQoKQgRZBQUFJSGqgKwGmJAETBW6UCJMiBPIEGZA1Qm0AKaOGEFJuKACuvsQbkbyBwgAAKLeCkutNxodAAAAAElFTkSuQmCC);
}
button.right {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAXCAMAAADa6lTVAAAAP1BMVEUAAABwcHBxcXFycnJzc3N5eXl7e3uBgYG0tLS1tbW2tra5ubm6urq7u7vFxcXGxsbHx8fKysrLy8vMzMza2tq8tJKjAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeARALASXX06M3AAAAJmlUWHRDb21tZW50AAAAAABDcmVhdGVkIHdpdGggR0lNUCBvbiBhIE1hY5XkX1sAAABRSURBVBjTndBJCoAwEETR6jjFIcakvf9ZRWwFC3H6y7cpKOC6LhC0IoHhTF6EqNlEhr/Uf6RkUuwwVwbpEfJrQG2gx/DoCIDoCFYqlW6dFDctD/AC27aqSxsAAAAASUVORK5CYII=);
}