* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

body {
	background-color: #eee;			
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: arial,verdana,sans-serif;
	margin: 0;
}

input, button {
	border: solid 1px #c0c0c0;
	border-width: 1px !important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: whiteSmoke;
	color: #707070;
	float: left;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;  	
}

.wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.icons .genericon, .icons .entypo {
	float: left;
	width: 30px;
	height: 20px;
	line-height: 30px;
	text-align: center;
	margin: 5px;
}

div.menu {
	position: absolute;
	width: 100%;
	height: 205px;
	padding: 0;
	transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	text-align: center;
}

div.menu_container {
	text-align: left;
}

div.upper {
	top: 0px;
}

div.lower {
	bottom: 0px;
}

div.menu .handle {
	height: 25px;
	text-align: center;
}

div.menu .handle .up, div.menu .handle .down {
	display: none;
	margin-top: 7px;
}

div.menu .show_up .up {
	display: inline;
}

div.menu .show_down .down {
	display: inline;
}

div.lower_menu_close {
	transform: translate(0px,180px);
	-ms-transform: translate(0px,180px);
	-webkit-transform: translate(0px,180px);
}

div.upper_menu_close {
	transform: translate(0px,-40px);
	-ms-transform: translate(0px,-40px);
	-webkit-transform: translate(0px,-40px);
}